table {
    border-collapse: collapse;
    border-radius: 1px;
    background-color: #212121;
    border-radius: 4px;
}

tbody {
    border: 2px solid transparent;
}

table td {
    box-sizing: border-box;
    display: inline-block;
    margin: 3px;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    border: 2px solid transparent;
}

td.blank {
    background-color: #424242;
}


td.red {
    background-color: #ef5350;
}
td.red-ghost {
    background-color: rgba(239,83,80,0.5);
}


td.orange {
    background-color: #FB8C00;
}
td.orange-ghost {
    background-color: rgba(251,140,0,0.5);
}


td.yellow {
    background-color: #FFEE58;
}
td.yellow-ghost {
    background-color: rgba(255,238,88,0.5);
}


td.green {
    background-color: #9CCC65;
}
td.green-ghost {
    background-color: rgba(156,204,101,0.5)
}


td.blue {
    background-color: #5C6BC0;
}
td.blue-ghost {
    background-color: rgba(92,107,192,0.5);
}


td.purple {
    background-color: #AB47BC;
}
td.purple-ghost {
    background-color: rgba(171,71,188,0.5);
}


td.light-blue {
    background-color: #29B6F6;
}
td.light-blue-ghost {
    background-color: rgba(41,182,246,0.5);
}



div.side-div {
    width: 160px;
    height: 120px;
    background-color: #212121;
    border-radius: 4px;
    border: 4px solid #424242;
}


table.side {
    text-align: center;
    margin: auto;
    margin-top: 28px;
}

table.side td.blank {
    background-color: transparent;
}
