@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Roboto:300,400,700');

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: white;
}

#container-div {
    display: inline-block;
    margin: auto;
    margin-top: 20px;
}

#left-div {
    float: left;
}

#game-table {
    float: left;
}

#right-div {
    float: right;
}

.side-div {
    margin: 20px;
}

#button-div {
    text-align: center;
}

button {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 10pt;
    
    color: white;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    border: none;
    border-radius: 2px;
    box-shadow: 0px 2px 3px #9E9E9E;
    margin: 20px;
    
    transition: all .2s ease;
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: 0px 3px 10px #616161;
}

#start-button {
    font-size: 14pt;
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    
}

button.orange {
    background-color: #FFA726;
}
button.orange:hover, button.orange:disabled {
    background-color: #FFCC80;
}


button.blue {
    background-color: #42A5F5;
}
button.blue:hover, button.blue:disabled {
    background-color: #90CAF9;
}



button.pink {
    background-color: #EC407A;
}
button.pink:hover, button.pink:disabled {
    background-color: #F48FB1;
}



button.green {
    background-color: #9CCC65;
}
button.green:hover, button.green:disabled {
    background-color: #C5E1A5;
}

h1 {
    font-family: "Roboto";
}